extends ../layouts/default

block intro
	.container
		h3 Portfolio: 
			i #{data.category ? data.category.name : 'Projects'}

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.projectlist.results.length
					if data.projectlist.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.projectlist.first}
							|  to 
							strong #{data.projectlist.last}
							|  of 
							strong #{data.projectlist.total}
							|  projects.
					.projects
						each project in data.projectlist.results
							+project(project, false)
					
				else
					if data.category
						h3.text-muted There are no projects in the category #{data.category.name}.
					else
						h3.text-muted There are no projects yet.
		
		if data.categories.length
			.col-sm-4.col-md-3
				h2 Categories
				.list-group(style='margin-top: 70px;')
					a(href='/projects', class=!data.category ? 'active' : false).list-group-item All Categories
					each cat in data.categories
						a(href='/projects/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
